# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Hardhat
artifacts/
cache/
coverage/
typechain/
broadcast/

# Env
.env
.env.*

# Circom build artifacts
zk/build/

# ZK trusted setup artifacts (PXP-102)
zk/keys/
